<p id="notice"><%= notice %></p>

<h2>Plane <%= @airplane.name %></h2>

<p>Rows: <%= @airplane.rows %></p>
<p>Columns: <%= @airplane.cols %></p>

<%= link_to 'Edit', edit_airplane_path(@airplane) %> |
<%= link_to 'Back', airplanes_path %>


<h2>Seating Diagram:</h2>
<table class="planegrid">
  <% (0...(@rows * @cols)).each_slice(@airplane.cols) do |slice| %>
    <tr class="planegridrow">
      <% slice.each do |col| %>
        <td class="planegridcol">
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
