<p id="notice"><%= notice %></p>

<h2>Reservations</h2>

<table>
  <thead>
    <tr>
      <th>Plane</th>
      <th>Flight</th>
      <th>Passenger</th>
      <th>Seat</th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= link_to reservation.flight.airplane.name, reservation.flight.airplane %></td>
        <td><%= link_to reservation.flight.flight, reservation.flight %></td>
        <td><%= link_to reservation.user.name, reservation.user %></td>
        <td><%= link_to reservation.seat, reservation %></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
