<!DOCTYPE html>
<html>
  <head>
    <title>BurningairlinesServer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  </head>

  <body>
    <div class="nav">
      <% if @current_user.present? %>
        <nav class="main_nav">
          <a href="/airplanes">Airplanes</a> |
          <a href="/flights">Flights</a> |
          <a href="/reservations">Reservations</a> |
          <a href="/users">All Users</a>
        </nav>
        <nav class="log_out">
          <%= link_to("Log Out", login_path, :method => :delete) %>
        </nav>
      <% end %>
    </div>
    <div class="container">
      <h1>Burning Airlines</h1>
      <%= yield %>
    </div>
  </body>
</html>
